{% extends 'base.html' %}

{% block content %}
<div class="container"  style="height: 100vh;">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <span class="h1 text-center mb-3">Вхід</span>
        <form action="" method="post" class="form-control bg-light w-50">
            {% csrf_token %}
    
            {{form.as_p}}
            
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Ввійти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}