<nav class="navbar text-bg-dark fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-menu" aria-controls="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="{% url 'home' %}" class="navbar-brand link"><strong>Group portal</strong></a>

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-menu">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title">Розділи</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action fw-medium">Форум</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Електроний щоденник</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Події</a>
                <a href="{% url 'surveys:home' %}" class="list-group-item list-group-item-action fw-medium">Опитування</a>
                <a href="{% url 'votes:home' %}" class="list-group-item list-group-item-action fw-medium">Голосування</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Оголошення</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Матеріали</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Портфоліо</a>
                <a href="#" class="list-group-item list-group-item-action fw-medium">Галерея</a>
            </ul>
        </div>
    </div>
</nav>